@import 'bootstrap-sprockets';
@import 'bootstrap';

.main-header {
	background-color: black;
}

.carousel-caption {
	font-size: 40px;
	font-family: Courier;
	color: red;
	font-style: bold;
}

.margintop5 {
	margin-top: 5px;
}

.margintop10 {
	margin-top: 10px;
}

.margintop20 {
	margin-top: 20px;
}

.margintop30 {
	margin-top: 30px;
}

.margintop40 {
	margin-top: 40px;
}

.marginbottom5 {
	margin-bottom: 5px;
}

.marginbottom10 {
	margin-bottom: 10px;
}

.marginbottom20 {
	margin-bottom: 20px;
}

.marginbottom30 {
	margin-bottom: 30px;
}

.marginbottom40 {
	margin-bottom: 40px;
}

.paddingright20 {
	padding-right: 20px;
}

.buttoncolor {
	background-color: #F74648;
}
.price {
	font-size: 25px;
}

.gifts {
	width: 50%;
}

.nodecoration
{
	text-decoration: none;
}

.menu {
	
}

nav div div ul li{
	width: 12%;
	text-align: center;
}

ol.carousel-indicators {
	left: 150px;
}

ol.carousel-indicators li.active {
	background-color: #7D7D7D;
}

.cartdetails {
	display: block;
}

.table-cart{
	background-color: #484848;
	display: none;
	position: absolute;
	right: 0;
	z-index: 200;
	clear:both;
}

table tr td {
	/*border: 1px solid black;*/
	text-align: center;
	background-color: white;
}

th{
	text-align: center;
}

.wrapper {
	width: 100%;
}

.checkbox {
	margin-bottom: 10px;
	margin-left: 20px;
	span {
		font-weight: normal;
	}
}

.product-item{
	border: 1px;
	border-color: red;
}

.category {
	font-size: 20px;

}

.table-category {
	width: 100%;
}
