<div class="container">
		<div class="row" style="position: relative">
			<div class="col-md-3 col-sm-4 col-xs-4 col-lg-3 table-cart">
				<table>
					<tr>
						<td>
							<div class="row">
								<div class="col-lg-4 col-sm-4 col-xs-4 col-lg-3">
									<%= image_tag("product/3.jpg", class: "img-responsive iamge-product") %>
								</div>
								<div class="col-lg-8">
									<span style="color:white">2 x Beach ...</span>
									<a href="#" title=""><span class="glyphicon glyphicon-remove pull-right" style="color:white"></span><br></a>
									<strong style="color:white">$12</strong>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<span style="color:white">Shipping</span>
							<strong style="color:white;">$12</strong><br>
						</td>
					</tr>
					<tr>
						<td>
							<span style="color:white">Total</span>
							<strong style="color:white">$36</strong><br>
						</td>
					</tr>
					<tr>
						<td>
							<button class="btn btn-danger">Check Out</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>