<footer>
	<div class="container margintop40 marginbottom40">
		<div class="row">
			<div class="col-sm-3 col-xs-12 col-md-3 col-lg-3">
				<h3>Categories</h3>
				<ul>
					<li>New</li>
					<li>Bride</li>
					<li>jewery</li>
					<li>Decor</li>
					<li>Gifts</li>
				</ul>
			</div>
			<div class="col-sm-3 col-xs-12 col-md-3 col-lg-3">
				<h3>Infomation</h3>
				<ul>
					<li>Specials</li>
					<li>New products</li>
					<li>Best sellers</li>
					<li>Out stores</li>
					<li>About us</li>
				</ul>
			</div>
			<div class="col-sm-3 col-xs-12 col-md-3 col-lg-3">
				<h3>My account</h3>
				<ul>
					<li>My orders</li>
					<li>My merchandise returns</li>
					<li>My credit slips</li>
					<li>My addresses</li>
					<li>My special info</li>
					<li>My vouchers</li>
				</ul>
			</div>
			<div class="col-sm-3 col-xs-12 col-md-3 col-lg-3">
				<h3>Newsletter</h3>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
					<span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-chevron-right pull-right"></span></span>
				</div>
				<div class="margintop40">
					<a href="#">© 2014 Ecommerce software by ZIGExN Shop™</a>
				</div>
			</div>
		</div>
	</div>
</footer>