<header>
	<div class="main-header">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 pull-left margintop10 marginbottom10">
					<div class="logo">
						<a href="#"><%= image_tag("logo.jpg") %></a>
					</div>
				</div>
				<div class="col-sm-4 pull-right margintop10">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search for...">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
						</span>
					</div><!-- /input-group -->

					<div class="cart margintop10 pull-right">
						<div class="cart-w">
							<div class="cart-info">
								<span>
									<a href="#" class="btn-cart">
										<i class="glyphicon glyphicon-shopping-cart"></i>
										<strong>CART</strong>
										<span>2 products</span>
										<span class="caret"></span>
									</a>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end main-header -->
	<div class="container">
		<div class="row" style="position: relative">
			<div class="col-md-3 col-sm-4 col-xs-4 col-lg-3 table-cart">
				<table>
					<tr>
						<td>
							<div class="row">
								<div class="col-lg-4 col-sm-4 col-xs-4 col-lg-3">
									<img class="img-responsive image-product" src="assets/img/product/3.jpg" alt="">
								</div>
								<div class="col-lg-8">
									<span style="color:white">2 x Beach ...</span>
									<a href="#" title=""><span class="glyphicon glyphicon-remove pull-right" style="color:white"></span><br></a>
									<strong style="color:white">$12</strong>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<span style="color:white">Shipping</span>
							<strong style="color:white;">$12</strong><br>
						</td>
					</tr>
					<tr>
						<td>
							<span style="color:white">Total</span>
							<strong style="color:white">$36</strong><br>
						</td>
					</tr>
					<tr>
						<td>
							<button class="btn btn-danger">Check Out</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<!-- navbar-fixed-top -->
	<nav class="navbar navbar-default">
		<div class="container menu">
			<div class="main-nav margintop10 marginbottom10">
				<ul class="nav nav-pills">
					<li role="presentation" class="active"><a href="#">NEW</a></li>
					<li role="presentation"><a href="#">BRIDE</a></li>
					<li role="presentation"><a href="#">SHIRT</a></li>
					<li role="presentation"><a href="#">JEWELRY</a></li>
					<li role="presentation"><a href="#">BRIDAL PARTY &amp; GUESTS</a></li>
					<li role="presentation"><a href="#">SHOES &amp; ACCESORIES</a></li>
					<li role="presentation"><a href="#">LINGERIE</a></li>
					<li role="presentation"><a href="#">SALE</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>